
apiVersion: batch/v1
kind: Job
metadata:
  name: trip-simulation-job
spec:
  template:
    spec:
      containers:
      - name: trip-simulation
        image: ghcr.io/shubh1901198/trip-simulation:latest
        command: ["python", "simulate_trip_a.py", "-o", "/data/trip_log.csv", "-n", "100"]
        volumeMounts:
        - name: data-volume
          mountPath: /data
      restartPolicy: Never
      volumes:
      - name: data-volume
        emptyDir: {}
