apiVersion: batch/v1
kind: Job
metadata:
  name: trip-simulation-job
spec:
  backoffLimit: 0     # fail immediately if container exits non-zero
  template:
    spec:
      restartPolicy: Never

      containers:
        - name: trip-simulation
          image: ghcr.io/shubh1901198/trip-simulation:latest
          imagePullPolicy: Never   # IMPORTANT: KinD uses locally-loaded images

          volumeMounts:
            - name: artifacts-volume
              mountPath: /mnt/artifacts

          env:
            - name: ARTIFACT_DIR
              value: /mnt/artifacts

          command: ["/bin/bash", "-c"]
          args:
            - |
              echo "Starting Trip Simulation Job..."

              # Ensure the directory exists (in case container runs non-root)
              mkdir -p /mnt/artifacts || true
             echo "Running Python script..."
             python3 /app/trip_simulation.py 2>&1 | tee /mnt/artifacts/simulation_output.log
             EXIT_CODE=${PIPESTATUS[0]}
            echo "Python exited with code: $EXIT_CODE"

              EXIT_CODE=$?
              echo "Simulation exit code: $EXIT_CODE"

              # COPY/CHECK FILES GENERATED BY SCRIPT
              if [ -f /app/trip_comparison.log ]; then
                  cp /app/trip_comparison.log /mnt/artifacts/trip_comparison.log
              else
                  echo "trip_comparison.log missing!" >> /mnt/artifacts/simulation_output.log
              fi

              if [ -f /app/trip_a_generated.csv ]; then
                  cp /app/trip_a_generated.csv /mnt/artifacts/trip_a_generated.csv
              else
                  echo "trip_a_generated.csv missing!" >> /mnt/artifacts/simulation_output.log
              fi

              # EXIT WITH PYTHON SCRIPT EXIT CODE
              exit $EXIT_CODE

      volumes:
        - name: artifacts-volume
          hostPath:
            path: /mnt/artifacts     # Synced with your KinD extraMounts
            type: DirectoryOrCreate
