apiVersion: batch/v1
kind: Job
metadata:
  name: trip-simulation-job
spec:
  backoffLimit: 2
  template:
    metadata:
      labels:
        app: trip-simulation
    spec:
      restartPolicy: Never
      containers:
      - name: trip-simulation
        # Use your image name / tag here. If testing locally with minikube/kind, see README.
        image: shu1bham9/trip-simulation:latest
        command: ["sh", "-c", "python simulate_trip_a.py && python compare_trips.py"]