apiVersion: batch/v1
kind: Job
metadata:
  name: trip-simulation-job
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never

      containers:
      - name: trip-simulation
        image: ghcr.io/shubh1901198/trip-simulation:latest
        imagePullPolicy: Never

        volumeMounts:
        - name: artifacts-volume
          mountPath: /mnt/artifacts

        command: ["/bin/bash", "-c"]
        args:
        - |
          echo "Starting Trip Simulation..."

          # 1. Run Trip A simulation
          python3 simulate_trip_a.py -o trip_a_generated.csv -n 10 | tee /mnt/artifacts/simulation_output.log
          echo "Generated Trip A CSV."

          # 2. Run comparison
          python3 compare_trips.py \
            -a trip_a_generated.csv \
            -b trip_log_history.csv \
            -t comparison_thresholds.csv \
            -l trip_comparison.log | tee -a /mnt/artifacts/simulation_output.log

          EXIT_CODE=$?
          echo "Comparison exit code: $EXIT_CODE"

          # 3. Copy artifacts to mounted dir
          cp trip_a_generated.csv /mnt/artifacts/ || true
          cp trip_comparison.log /mnt/artifacts/ || true

          exit $EXIT_CODE

      volumes:
      - name: artifacts-volume
        hostPath:
          path: /mnt/artifacts
          type: DirectoryOrCreate
