
apiVersion: batch/v1
kind: Job
metadata:
  name: trip-simulation-job
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: trip-simulation
          image: ghcr.io/shubh1901198/trip-simulation:latest
          imagePullPolicy: IfNotPresent
          command:
            - sh
            - -c
            - |
              echo "Starting Trip Simulation..."
              python simulate_trip_a.py -o /mnt/artifacts/trip_a_generated.csv -n 10
              echo "Trip A simulation completed."
              # Optional: Generate comparison log
              if [ -f /mnt/artifacts/trip_a_generated.csv ]; then
                python compare_trips.py > /mnt/artifacts/trip_comparison.log
                echo "Comparison log generated."
              else
                echo "CSV not found, skipping comparison."
              fi
          volumeMounts:
            - name: artifacts
              mountPath: /mnt/artifacts
      volumes:
        - name: artifacts
          hostPath:
            path: /mnt/artifacts
            type: Directory
